header, footer, div.primary, div.secondary, aside{
    padding: 1rem;
    border: 1px solid black;
}

main{
    display: flex;
    /* flex-direction: column;
    flex-wrap: nowrap; */
    flex-flow: column nowrap;
}

aside{
    display: none;
}

nav ul{
    list-style: none;
    padding-left: 0px;
}


@media (min-width: 600px){
    aside{
        display: block;
        flex: 1;
    }
    .content{
        display: flex;
        flex-flow: row nowrap;
    }
    .ps{
        display: flex;
        flex-flow: column nowrap;
        flex: 3;
        /* justify-content: space-evenly; */
    }
    .primary{
        flex: 1;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        display: flex;
        flex-flow: row nowrap;
    }
    nav ul li{
        margin-left: 0.5rem;
    }
}